<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular.js"></script>
<script src="/static/js/ng-infinite-scroll.min.js"></script>

<style>
.divMasterDetailWrapper
{
    width: 100%;
    height: 600px;
    padding: 0px;
    margin-top:-20px;
}
.divFlag
{
    width: 100%;
    height: 90px;
}
.divBottomFlag
{
    width: 100%;
    height: 50px;
    margin-bottom:-20px;
}
.divMasterView
{
    width: 500px;
    height: 650px;
    background-color: #E0E0E0;
    /*border: 1px solid Black;*/
    margin-right: 5px;
    overflow-y: auto;
    float: left;
}
.divUserView
{
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    padding: 5px;
    font-family: verdana;
    border: 1px solid Black;
    box-shadow: 0px 0px 2px 1px;
    margin-right: 5px;
    float: left;
}
.divDetailView
{
    height: 650px;
    padding: 0;
    display: block;
    overflow-y: auto;
}
.divEmail_header
{
    height: 200px;
    display: block;
    padding: 5px;
    border: 1px solid Black;
    box-shadow: 0px 0px 2px 1px;

}
.divKeys
{
    width: 200px;
    overflow-y: auto;
    float: left;
}
.divValues
{
    margin-right: 5px;
    padding: 0;
    display: block;
    overflow-y: auto;
}
.divEmail_body
{
    height: 400px;
    margin-top: 25px;
    padding: 5px;
    border: 1px solid Black;
    display: block;
    box-shadow: 0px 0px 2px 1px;
    overflow-y: auto;
}

/* Style the tab */
div.tab {
    overflow: hidden;
   /* border: 1px solid #ccc;*/
    background-color: #ffffff;
 /*   background-color: #f1f1f1; */
  text-align: center;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #f1f1f1; /*inherit;*/
    float: center;
    border: none;
    /*outline: none;*/
    cursor: pointer;
    padding: 10px 60px;
    border-top-right-radius: 150px 170px;
    border-top-left-radius: 150px 170px;
    align: center;
    margin: 0px -5px 0;
    border: 1px solid #ccc;

    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

</style>

<div ng-app="myApp" ng-controller="DataController" class="divMasterDetailWrapper" >
    <div class="divFlag">
        <p style="text-align:center;" ><IMG SRC="/static/Images/nationaal_archief_top.png" WIDTH=498px HEIGHT=87px> </p>
    </div>
    <div class="divMasterView">
        <div class="tab">
        <button class="tablinks" >Tab1</button>
        <button class="tablinks" >Tab2</button>
        <button class="tablinks" >Tab3</button>
        </div>
             <div ng-repeat="user in data" class="divUserView">

                    <form  ng-mouseover="onMouseOver(user)" novalidate class="simple-form">
                       <h4>{{user.first_name}} {{user.last_name}}</h4>
                            <p>
                                <b>Email:</b> {{user.email}}  -
                                <b>Country:</b> {{user.country}}  -
                                <b>IP:</b> {{user.ip_address}}
                            </p>
                            <p>

                                <label>True:
                                    <input type="checkbox" ng-model = "user.pred_class0" ng-checked="user.pred_class0" ng-change="onChangeClass0(user)" >
                                </label>
                                <label>False:
                                    <input type="checkbox"  ng-model = "user.pred_class1" ng-checked="user.pred_class1" ng-change="onChangeClass1(user)">
                                </label>
                                <button ng-click='onSubmit(user)'>Submit</button> {{user.pred}}{{boxTruevalue}} {{boxFalsevalue}}
                            </p>
                    </form>
             </div>

    </div>
    <div class="divDetailView">
        <div class="divEmail_header">
            <div class="divKeys">
        <p>From:</p>
        <p>Sent:</p>
        <p>To:</p>
        <p>Subject:</p>
            </div>
            <div class="divValues">
                 <p> {{eFirstName}} {{eLastName}} </p>
                 <p>  {{eSent}} </p>
                 <p>  {{eTo}}</p>
                 <p>  {{eSubject}} </p>
            </div>
        </div>
        <div class="divEmail_body">
           blablabla
        </div>
    </div>
    <div class="divBottomFlag">
        <p style="text-align:center;" ><IMG SRC="/static/Images/nationaal_archief_bottom.png"> </p>
    </div>
</div>

<script>
var myApp = angular.module('myApp',['infinite-scroll']);
myApp.controller('DataController', function($scope,$http) {
   $http.get("/s/").then(function(r) {
                    $scope.data = r.data.emails;
            });
   $scope.onMouseOver = function(user){
        console.log("mouse over user: " + user.id)
        $scope.eFirstName = user.first_name;
        $scope.eLastName = user.last_name;
        $scope.eSent = user.last_name;
        $scope.eTo = user.last_name;
        $scope.eSubject = user.last_name;
        $scope.email_content = user.email
         }
   $scope.onChangeClass0 = function(user){
        user.pred_class1 = !user.pred_class0}
   $scope.onChangeClass1 = function(user){
        user.pred_class0 = !user.pred_class1}

   $scope.onSubmit = function(user) {
        console.log("Checked box of user id: " + user.id);
        $http({
            method : 'POST',
            url : '/',
            data : angular.copy(user)
        });
    };
});
</script>