<!DOCTYPE html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular.js"></script>
<script src="/static/js/ng-infinite-scroll.min.js"></script>
<script src="/static/js/numeric-1.2.6.js"></script>
<script src="/static/js/controller.js"></script>

<link rel="stylesheet" href="/static/css/index_style.css">

<div ng-app="myApp" ng-controller="DataController" class="divMasterDetailWrapper" >
    <div class="divFlag">
        <p style="text-align:center;" ><IMG SRC="/static/Images/nationaal_archief_top.png" WIDTH=498px HEIGHT=87px> </p>
    </div>
    <div class="divMasterView" >
        <div class="tab">

        </div>
             <div ng-repeat="user in data" class="ng-class: divUserView" ng-mouseover="onMouseOver(user)">
                       <h4>{{user.header_from}}</h4>
                            <p>
                             <b>{{user.header_date}}</b>   {{user.header_subject}}
                            </p>
                            <p>

                                <label>Zakelijk:
                                    <input type="checkbox" ng-model = "user.class0" ng-checked="user.class0" ng-change="onChangeClass0(user)" >
                                </label>
                                <label>niet-Zakelijk:
                                    <input type="checkbox"  ng-model = "user.class1" ng-checked="user.class1" ng-change="onChangeClass1(user)">
                                </label>
                                <button ng-click='onSubmit(user)'>Submit</button>
                            </p>

             </div>

    </div>
    <div class="divDetailView">

        <div class="divEmail_header">
            <div class="divKeys">
        <p>From:</p>
        <p>Sent:</p>
        <p>To:</p>
        <p>Subject:</p>
            </div>
            <div class="divValues">
                 <p> {{eFrom}} </p>
                 <p>  {{eSent}} </p>
                 <p>  {{eTo}}</p>
                 <p>  {{eSubject}} </p>
            </div>
        </div>
        <div class="divEmail_body">
           <p>  {{eContent}} </p>
        </div>
    </div>
    <div class="divBottomFlag">
        <p style="text-align:center;" ><IMG SRC="/static/Images/nationaal_archief_bottom.png"> </p>
    </div>
</div>
